
.btn {
	display: inline-block;
    position: relative;
    border: none;
	appearance: none;
    padding: 10px 20px;
    text-decoration: none;
    background: $c-base;
    color: $c-white;
    font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
    cursor: pointer;
	border-radius: .5rem;
    text-align: center;
    transition: background .4s;
    -webkit-appearance: none;
    -moz-appearance: none;

	&:hover {
		background-color: $c-secondary;
	}
}

//btn blue

.btn.btn--blue {
    background-color: $c-secondary;

    &:hover {
        background-color: $c-base;
    }
}