//Notification

.notification {
    position: relative;
    transition: opacity .4s;
    border-radius: 1.2rem;

    &:hover {
        opacity: .7;
    }

    a {
        text-decoration: none;
    }

    .notification__icon {
        position: absolute;
        top: .5rem;
        left: .5rem;
        line-height: 1;
    }

    .MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle {
        color: $c-white;
        background-color: $c-secondary;
    }
}