//Replies

.replies {
    grid-column: 2/3;
}

//Reply

.replies .reply {
    display: grid;
    grid-template-columns: 6rem calc(100% - 8rem);
    gap: 2rem;
    position: relative;
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

    .reply__img {
        position: relative;
        height: 6rem;
        border-radius: 50%;
    }

    .reply__img a {
        display: block;
        text-decoration: none;
    }

    .reply__img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .reply__content {
        background-color: #f1f1f1;
        border-radius: 1.2rem;
        padding: 2rem;
    }

    .reply__meta {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    
    .reply__delete-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .reply__edit-btn {
        position: absolute;
        top: 2rem;
        right: 5rem;
    }

    .reply__delete-btn svg,
    .reply__edit-btn svg {
        font-size: 1.5rem;
        color: $c-base;
    }

    h6 {
        margin-bottom: 0.5rem;
        display: inline-block;
    }

    h6 a {
        display: block;
        text-decoration: none;
        color: $c-base;
        transition: opacity .4s;

        &:hover {
            opacity: .7;
        }
    }
}