//Section content aside

.section-content-aside {
    padding: 4rem 0;

    .section__inner {
        display: grid;
        grid-template-columns: calc(100% - 40rem) 35rem;
        gap: 5rem;
        
        @include breakpoint-down-small-desktop {
            grid-template-columns: calc(100% - 37rem) 35rem;
            gap: 2rem;
        }

        @include breakpoint-down-tablet {
            grid-template-columns: 100%;
        }

        .section__aside {
            @include breakpoint-down-tablet {
                order: 1;
                max-width: 35rem;
                width: 100%;
            }   
        }

        .section__content {
            @include breakpoint-down-tablet {
                order: 2;
            }
        }
        
    }
}

// --saved posts

.section-content-aside--saved-posts {
    .section__inner {
        grid-template-columns: calc(100% - 40rem);
        justify-content: center;
    }
}